.fila1{
    background-color: aqua;
    height: 300px;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 20px 20px 20px 20px;
}
.sinpunto{
    list-style-type:none;
}